<!DOCTYPE html>
<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script src="angular-1.7.5/angular.js"></script>
        <title>Phone Book</title>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
           <!-- <h4 ng-bind="app"></h4>-->
            <h3><b>{{app}}</b></h3>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>        
                <tr ng-repeat="contato in contatos">
                    <!--<td ng-repeat="(key, value) in contato">
                        {{value}}
                    </td>-->
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                </tr>
            </table>
            <hr>
            <input type="text" class="form-control" placeholder="Nome" ng-model="contato.nome">
            <input type="text" class="form-control" placeholder="Telefone" ng-model="contato.telefone" maxlength="9">
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="" disabled>Selecione uma operadora</option>
            </select>
            <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        </div>
    </body>
    <script src="app/listaTelefonicaCtrl.js"></script>
</html>